
<form action="/articles/<% @article.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input id="title" type="text" value="<%= @article.title %>">
  <input id="content" type="text" value="<%= @article.content %>">
  <input type="submit">
</form>