<form method="POST" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="title">Article Title:</label>
    <input type="text" name="title" id="title" value="<%= @article.title %>"><br>
    <label for="content">Article Content:</label>
    <textarea name="content" id="content" value="<%= @article.content %>"></textarea>
    <input type="submit" id="submit">
</form>