  
<form action="/articles" method="POST">

<label for="Title">Title: </label>
<input type="text" id="title" name="title">

<label for="Content">Content: </label>
<input type="text" id="text" name="content">

<input type="submit" id="submit" value="submit">
</form>