<h1>Create a new Article!</h1>

<form method="POST" action="/articles">
    <input type="text" id="title" name="title">
    <input type="text" id="content" name="content">
    <input type="submit" id="submit">
</form>