<!DOCTYPE html>
<html>
    <form method="POST" action="/articles">
        <h1>New Article Submission</h1>
        <label for="title">Title: </label>
        <input id="title" type="text" name="title">
        <br><br>
        <label for="content">Content: </label>
        <input id="content" type="text" name="content">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</html>