<!DOCTYPE html>
<html>
    <form action="/articles" method="post">
        <lable for="title">Title:</lable>
        <input type="text" name="title"></input>
        <lable for="content">Content:</lable>
        <input type="text" name="content"></input>
        <input type="submit" value="Submit">
    </form>
</html>