<h1> Create an Article! </h1>
<form action="/articles" method="post">
Article Title: <input type="text" name="title"><br>
Article Content: <textarea name="content" rows="4" cols="50">
</textarea><br>
<input id="submit" type="submit">
</form>