<form action='/articles' method='POST'>
<label for="title">Title</label>
<input type="text" id="article_title" name="title">
<label for="content">Content</label>
<input type="text" id="article_content" name="content">
<input type="submit" value="Submit">
</form>